/* header styles */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: whitesmoke;
}
.header-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
.bar {
    display: none;
}
.list1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.distance {
    margin-right: 35px;
}
.list2 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
.fa-solid {
    margin-right: 30px;
    width: 100%;
}

/* section 1 styles */
.img {
   max-width: 100%;
    width: 100%;
}
.img-div {
    height: 621px;
    margin-top: 70px;
}
/* section 2 styles */
.cont-div{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.text3 {
    text-align: center;
    width: 90%
}
.imgdiv {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* section 3 styles */
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}
.title {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
    color: black;
   text-align: center;
   margin-bottom: 20px;
}
.text2 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: center;
}
.mouse:hover {
    color: palevioletred;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
}
/* section 4 styles */
.lastblock {
    display: none;
}
.cont2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}
.height {
    height: 500px;
}
.text4 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: center;
    font-size: 38px;
}
.size {
    font-size: 40px;
}
.size:hover {
    color: brown;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition-duration: 3s;
         -o-transition-duration: 3s;
            transition-duration: 3s;
}
/* section 5 styles */
.section5 {
    margin: 30px 0px; 
}
.leftcont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.form-el {
    width: 100%;
}
.input-el {
    width: 40%;
    height: 30px;
    margin: 15px 0px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color: lightslategray;
}
.label-el {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.note {
    height: 70px;
}
.text5 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 15px;
}
.send1 {
    background-color: lightslategray;
    border-color: lightslategray;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
.input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.titles {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}
/* footer styles */
.footer {
    background-color: lightgray;
}
.leftdiv1 {
    padding: 30px 0px;
    text-align: center;
}
.footer-text {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
.foottext {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px; 
    margin-top: 15px; 
}